body{
  background-image: url("background_gradient.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.backgroundDiv {
        margin: 1em 10em 1em 10em;
        padding: 2em;
        background-color: white;
        opacity: 0.7;
        border-radius: 25px;
        /*position: fixed;*/
    }
html, #app {
  font-family: helvetica;
}

div, ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.stretch {
  width: 100%;
  height: 100%;
}

.h1 {
  margin: 0;
}

.songItem {
  /*float: left;*/
  display: flex;
  /*background: gray;*/
  width: 100%;
  /*border-style: solid;*/
  /*border-width: 0px 0px 1px 0px;*/
  /*height: 4em;*/
}

.avatar {
  width: 50px;
}

.list {
  text-align: center;
  list-style: none;
}

/*.scrollable{*/
   /*overflow: auto;*/
   /*height: 20em;*/
/*   background: black;*/
/*}*/